{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">
   <div class="page-header">
      
      <div class="row">
         <div class="col-sm-12">
            <h3 class="page-title">Welcome Admin!</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item active">Dashboard</li>
            </ul>
         </div>
      </div>
   </div>
   <!-- <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-one w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fa-solid fa-road"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{productCounts}}</h3>
                     <h6>Product</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

      

      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-two w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fa-solid fa-shop"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{unitCounts}}</h3>
                     <h6>Unit</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

      
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-three w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fa-solid fa-shopping-cart"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{customerordersCounts}}</h3>
                     <h6>Order</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-one w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fa-solid fa-people-roof"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{categoriesCounts}}</h3>
                     <h6>Categery</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-three w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fa-solid fa-shipping-fast"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{deliveryboyCounts}}</h3>
                     <h6>Delivery Boy</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-four w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-list"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{productcategoriesCounts}}</h3>
                     <h6>Product Categery</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
  
   
</div>

{% endblock content %}